[submodule "git-submodules/new-git-dir"]
	path = git-submodules/new-git-dir
	url = https://github.com/anusree-weetech/git-submodule-example.git
[submodule "udemy-courses/typescript/understanding-typescript"]
	path = udemy-courses/typescript/understanding-typescript
	url = https://github.com/anusree-weetech/understanding-typescript.git
[submodule "nestjs/nestjs-crud-app"]
	path = nestjs/nestjs-crud-app
	url = https://github.com/anusree-weetech/nestjs-crud-app.git
